.Rproj.user
.Rhistory
.RData
*reddit.db
*.out
*~
results.md

# Large files such as database, or big R objects
data/

# Work in progress
# manuscript/

# Directory were I have some scripts to test small things during coding
sandbox/

